*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{width: 100%;background:url(bg.jpg);font-size: 62.5%;font-family:Arial, Helvetica, MS Pgothic, "Hiragino Kaku Gothic", Osaka, sans-serif;}
body{background: linear-gradient(to left top,rgba(0,0,0,0.9),rgba(0,0,0,0.1));text-align: center;margin: 1% 1%;}
.header{display: inline-block;margin: 5rem auto;width: 100%;}
.header img{width: 60%; max-width: 500px;}
.header li{width: 40%; float: left;margin: 5% 0 0 5%;font-size:2rem;border: 0.2rem solid rgba(255,255,255,1);padding:2% 1%;}
.header a:link{color: rgba(255,255,255,1);text-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,1); padding-bottom: 0.5rem;}
.header a:visited{color: rgba(255,255,255,1);}
.bg{display: inline-block;width: 100%;background-color:rgba(255,255,255,0.8);font-size: 3rem;color: rgba(0,0,0,0.8);}
.box{float: left;width: 100%;}
.box img{width: 100%;}
.box li{margin: 3rem 0 0 0;}
.box p{margin: 0 1% 2rem 1%;}
.t{font-size:3.5rem;font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";color:rgba(230,0,18,1);}
.t2{display: inline-block;width: 100%;margin: 3rem auto;}
.form{width: 100%;margin: 1rem 1%;float: left;}
.f1{display: inline-block;width: 92%;height: 4rem;padding-left: 0.5rem;margin-bottom: 2rem;font-size:3rem;color:rgba(230,0,18,1);}
.f3{display: inline-block;width:20%;min-width: 10rem; height: 6rem;font-size:2.5rem;color: rgba(255,255,255,0.9);background-color:rgba(230,0,18,1);}
.footer{display: inline-block;margin: 3rem auto;width: 100%;color: rgba(255,255,255,0.8);font-size: 2rem;}
.t3{display: inline-block;margin: 2rem auto;width: 100%;}
.t3 span{float: right;font-size: 2.2rem;font-style: italic;color: rgba(255,255,255,0.9);padding:1rem; background-color:rgba(230,0,18,1);}
.t3 li{font-size:2.5rem;font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";margin-top: 6rem;}
.t3 p{font-size: 1.8rem;color: rgba(0,0,0,0.4);}
.text{display: inline-block;width: 100%;margin: 0 auto 2rem auto;}
.text p{margin-top: 1rem;font-size: 2rem;width: 98%;padding: 0 1%;}
.text img{width:100%;max-width: 750px;}
.line{border-bottom: 0.1rem solid rgba(0,0,0,0.4);height: 0.5rem;width: 100%;}
.msg{display: inline-block;width: 90%;height: 60rem; background-color:rgba(255,255,255,0.8);margin: 10% auto;}
.msg img{margin: 10% auto;width: 50%;}
.msg p{font-size: 3rem;margin: 5% auto;}