*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{width: 100%;background:url(bg.jpg);font-size: 62.5%;font-family:Arial, Helvetica, MS Pgothic, "Hiragino Kaku Gothic", Osaka, sans-serif;}
body{background: linear-gradient(to left top,rgba(0,0,0,0.9),rgba(0,0,0,0.1));text-align: center;}
.header{display: inline-block;margin: 2rem auto 0 auto;}
.header img{float: left;width: 20rem;}
.header li{float: left;margin: 1rem 0 0 4rem;font-size:3rem;}
.header a:link{color: rgba(255,255,255,1);text-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,1); padding-bottom: 0.5rem;}
.header a:hover{border-bottom: 0.5rem dotted rgba(230,0,18,1);}
.header a:visited{color: rgba(255,255,255,1);}
.bg{display: inline-block;width: 100rem;background-color:rgba(255,255,255,0.8);margin: 2rem auto 0 auto;font-size: 2.2rem;line-height: 2.8rem;color: rgba(0,0,0,0.8);}
.box{float: left;width: 50rem;height: 50rem;text-align: left;}
.box img{width: 100%;}
.box li{margin: 2.5rem 0 0 2.5rem;}
.box p{margin: 1rem 2.5rem 1rem 2.5rem;}
.box span{font-size: 2rem;font-style: italic;}
.box a:link{color: brown;border-bottom: 0.12rem dotted brown;}
.box a:visited{color: brown;}
.t{font-size:3.5rem;}
.t2{display: inline-block;width: 100rem;margin: 2rem auto;}
.form{width: 45rem;margin: 2.5rem;float: left;text-align: left;}
.f1{display: inline-block;width: 43rem;height: 3rem;padding-left: 0.5rem;margin-bottom: 1rem;font-size:2.5rem;color:rgba(230,0,18,1);}
.f3{display: inline-block;width:10rem;height: 4rem;font-size:2.5rem;color: rgba(255,255,255,0.9);background-color:rgba(230,0,18,1);}
.footer{display: inline-block;margin: 2rem auto;width: 100rem;color: rgba(255,255,255,0.8);font-size: 2rem;}
.t3{display: inline-block;margin: 2rem auto;width: 85rem;}
.t3 span{float: right;font-size: 1.6rem;font-style: italic;color: rgba(255,255,255,0.9);padding:0 1rem; background-color:rgba(230,0,18,1);}
.t3 li{font-size:3.5rem;font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";margin-top: 5rem;}
.t3 p{font-size: 2rem;color: rgba(0,0,0,0.4);}
.text{display: inline-block;width: 85rem;margin: 0 auto 10rem auto;}
.text p{text-align: left;margin-top: 1rem;}
.text li{margin-left: 5rem;float:left;text-align: left;font-size: 2rem;border-left:0.2rem solid rgba(0,0,0,0.1);}
.line{border-bottom: 0.1rem solid rgba(0,0,0,0.4);height: 2rem;width: 85rem;}
.img{display: inline-block;margin: 2rem auto 0 auto;}
.img img{width:100rem;border-radius:2rem;border: 1rem solid rgba(0,0,0,0.8);box-sizing: border-box;}
.bg2{display: inline-block;width: 100rem;background-color:rgba(255,255,255,0.8);margin: 2rem auto 0 auto;}
.bg2 li{position: relative;float: left;width: 23rem;height: 23rem; margin: 0 0 2rem 1.6rem;font-size:2rem;}
.bg2 li img{width:22rem;margin-top:0.5rem;border-radius:2rem;}
.bg2 li img:hover{width:23rem;margin-top:0;border-radius:0;}
.bg2 li p{position: absolute;width: 23rem;bottom:2rem;color: rgba(255,255,255,0.8);background-color:rgba(0,0,0,0.5);}
.bg3{display: inline-block;width: 100rem;background:rgba(0,0,0,0.3) url("takosa_logo2.png") no-repeat center;background-size: 15rem; margin: 2rem auto 0 auto;border-top: 0.1rem solid rgba(255,255,255,0.8);}
.bg3 li{float: left;text-align: left;padding:2rem;}
.bg3 p{font-size: 1.8rem;color:rgba(255,255,255,0.8);line-height:2.5rem;}
.bg3 span{border-left: 0.8rem solid rgba(230,0,18,1);padding-left: 0.8rem;}
.bg3 a:link{color:rgba(255,255,255,0.8);}
.bg3 a:hover{text-decoration: underline;}
.bg3 a:visited{color:rgba(255,255,255,0.8);}
.pd{display: inline-block;width: 100rem;background-color:rgba(255,255,255,0.8);margin: 2rem auto 0 auto;text-align: left;}
.pd li{float: left;margin: 2rem;width: 68rem;border-right: 0.1rem solid rgba(0,0,0,0.1);}
.pd li p{font-size: 2rem;color: rgba(0,0,0,0.8);}
.pd li span{font-size:3.5rem;}
.pd li img{margin-top: 1rem;}
.menu{float: left;width: 22rem;margin:3rem 0 3rem 1.8rem;padding: 1rem; background-color:rgba(0,0,0,0.8);border-radius:0 2rem 2rem 0;}
.menu p{font-size: 2rem;color:rgba(255,255,255,1);line-height: 2.5rem;}
.menu a:link{color:rgba(255,255,255,1);}
.menu a:hover{text-decoration: underline;}
.menu a:visited{color:rgba(255,255,255,1);}
.menu span{border-left: 0.8rem solid rgba(230,0,18,1);padding-left: 0.8rem;}
.up{position:fixed;bottom: 3.5rem;left: 50%;transform: translateX(-50%); margin:0 auto;z-index: 999;}
.up img{width:5rem;}